linux-upstream ({{linux_build_version}}-{{version_suffix}}-{{build_version}}) {{version_codename}}; urgency=low

  * Custom built Linux kernel.

 -- SecureDrop Team <securedrop@freedom.press>  {{source_date_epoch_formatted}}
